.App {
  text-align: center;
}
@media screen and (max-width:450px) {
  .job-card{max-width: 80% !important;}
  
}
.signupbar{
  top: 0px;
  background-color: rgb(255, 255, 255);
  padding: 1% 3%;
  width: 94%;
 
  height: 60px;
  z-index: 10;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
  border-radius: 8px;}
